# nRF52832-IMU board configuration

# Copyright (c) 2018 makerdiary.com.
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF52832_IMU

config BOARD
	default "nrf52832_imu"

config BT_CTLR
	default BT

endif # BOARD_NRF52832_IMU
